   <div [ngClass]="'form-title'">
        <h3> Creacion de productos </h3>
    </div>

<div [ngClass]="'form-area'">
    <div [ngClass]="'box'">
        <form [ngClass]="'form'" #productsForm="ngForm" (ngSubmit)="postProducts(productsForm.value)">
            <p> Ruta de la imagen: </p>
            <input [ngClass]="'form-input'" type="text" name="image" placeholder="por ej: http://blabla.com/img.jpg" [(ngModel)]="product.image">
            <p> Nombre del producto:  </p>
            <input [ngClass]="'form-input'" type="text" name="name"  placeholder="Por ej: Tiesto para planta"  [(ngModel)]="product.name">
            <p> Precio: </p>
            <input [ngClass]="'form-input'" type="number" name="price"  placeholder="Por ej: 9.50"  [(ngModel)]="product.price">
            <p> Descripción: </p>
            <input [ngClass]="'form-input'" type="text" name="description"  placeholder="Por ej: Lo mejor del mes"  [(ngModel)]="product.description">
            <p> Opiniones: </p>
            <input [ngClass]="'form-input'" type="number" name="stars"  placeholder="Por ej: 4.2"  [(ngModel)]="product.stars" [ngModel]="calculatePixels()">
            
            <input [ngClass]="'form-input-button'" type="submit" value="Guardar"> 
        </form>
    </div>
    
    

    <div [ngClass]="'preview'">
        <h5 [ngClass]="'preview-title'"> Preview del producto: </h5>
                <div [ngClass]="'product-card'">
                    <div [ngClass]="'product-card_img'">
                        <img [ngClass]="'product-card_img_image'" *ngIf="!(product.image == '')" src="{{product.image}}">
                    </div>
                    <div [ngClass]="'product-card_info'">
                        <p [ngClass]="'product-card_info_name'"> {{product.name}} </p>
                        <h4 [ngClass]="'product-card_info_price'" *ngIf="!(product.price == undefined)"> ${{product.price}} </h4>
                        <p [ngClass]="'product-card_info_description'"> {{product.description}} </p>
                            <div  *ngIf="!(product.stars == undefined)" [ngClass]="'star-box'">
                                <div [ngClass]="'star-box-test'" [ngStyle]="{ 'width.px': pixelPercentage }">
                                    <img  [ngClass]="'star-box-star'" src="/assets/images/Star_1.png" alt="star">
                                    <img  [ngClass]="'star-box-star'" src="/assets/images/Star_1.png" alt="star">
                                    <img [ngClass]="'star-box-star'" src="/assets/images/Star_1.png" alt="star">
                                    <img [ngClass]="'star-box-star'" src="/assets/images/Star_1.png" alt="star">
                                    <img [ngClass]="'star-box-star'" src="/assets/images/Star_1.png" alt="star">
                                    <p *ngIf="!(product.stars == undefined)"> {{product.stars}} </p>
                                </div>
                            </div>
                    </div> 
                </div>            
    </div>

</div>