.star-box{
    width:20px;

    .star-box-test{
        display: flex;
        width: 40px;
        height: 20px;
        background-color: transparent;
        background-color: #F7C04A;
    }
      
    .star-box-star {
        width: 80px;
        height: 20px;
        cursor: pointer;
    }
}